html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

.list-style {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
